<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Document Tagging Application</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<main role="main" class="container">
    <div>
        <h2> Upload Report and Mapping document to tag with investor id </h2>

        <form method="post" th:action="@{/tagDocument}" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Report to tag:</td>
                    <td><input type="file" name="document"/></td>
                    <td th:if="${documentError}" th:text="${documentError}"></td>
                </tr>
                <tr>
                    <td>Mapping document:</td>
                    <td><input type="file" name="mapping"/></td>
                    <td th:if="${mappingError}" th:text="${mappingError}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Tag Document"/></td>
                    <td th:if="${error}" th:text="${error}"></td>
                </tr>
            </table>
        </form>
    </div>
</main>
</body>
</html>